<!-- templates/home.html -->
{% extends 'base.html' %}
{% block content %}
<h1>On sale here</h1>
<div class="col-sm-9">
    <p class="text-center my_search_text">You have searched for: <b>"{{ query }}"</b></p>
    <!-- Search Form -->
    <form class="form-inline my-2 my-lg-0" action="{% url 'search_result' %}" method="get">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="glyphicon glyphicon-search" type="submit"></button>
    </form>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <!-- The header row-->
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Buy</th>
            </tr>
        </thead>
        <tbody>
            <!-- Product row(s) -->
            {% for product in products %}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td><img src="{{product.image_thumbnail.url}}" alt = "{{product.name}}"></td>
                <td>{{product.description}}</td>
                <td>{{product.stock}}</td>
                <td>&euro;{{product.price}}</td>
                {% if product.stock > 0 %}
                <td><a href="{% url 'add_cart' product.id %}" class="btn btn-default btn-xs"><span
                    class="glyphicon glyphicon-shopping-cart"></span></a></td>
                {% else %}
                <td><a href="" class="btn btn-default btn-xs"><span
                    class="glyphicon glyphicon-warning-sign red"></span></a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}